<h1>Book Shelf</h1>
<% @books.each do |book| %>
  <h2><%= book.title %></h2>
  <p>Author: <%= book.author %></p>
  <p>Cover:<%= book.image_url %></p>
  <p>Summary: <%= book.summary %></p>
  <p>Genre: <%= book.genre %></p>
<% end %>