<h1 align="center">Bookshelf</h1>

<div class="row"> 
<% @books.each do |book| %>
<div class="card mb-3" style="max-width: 400px;">
  <div class="row">
    <div class="col-sm-6">
      <img src="<%= book.image_url %>" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-sm-6">
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <p class="card-text"><%= book.author%></p>
        <p class="card-text"><small class="text-muted"><a href="/books/<%= book.id %>">More Info</a></small></p>
      </div>
    </div>
  </div>
</div>
<% end %>
<a class="btn btn-dark" href="<%= url_for(controller: 'books', action: 'new')%>" role="button">Add a Book</a>