<h1><%= @book.title %></h1>
<p>Author: <%= @book.author %></p>
<p><img src="<%= @book.image_url %>" width=20%, height= 20%></p> 
<p>Summary: <%= @book.summary %></p>
<p>Genre: <%= @book.genre %></p>
<a type="button" class="btn btn-outline-dark" href="/books/<%= @book.id %>/reviews/new">Leave a Review</a>
<a type="button" class="btn btn-outline-dark" href="/books">Back to Bookshelf</a>
<h4> Reviews:</h4> 
<p><%= render @book.reviews %></p>



