<h1> Book Info </h1>
<h2><%= @book.title %></h2>
<p>Author: <%= @book.author %></p>
<p>Cover:<%= @book.image_url %></p>
<p>Summary: <%= @book.summary %></p>
<p>Genre: <%= @book.genre %></p>
<a href="/books">Back to Bookshelf</a>
